<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="https://res.cloudinary.com/degnified/image/upload/v1567584916/logo_qwvzmj.png">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="{{style}}">

    <title>{{title}}</title>
</head>

<body>
    <div class="bg-dark body-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" id="brand" href="/dashboard">
                <strong class="brandName">MusiFy ***</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto navList">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/composer">Composer</a>
                </li>
                <li class="nav-item d-flex align-items-center mr-1">
                    <a class="nav-link" href="/Profile">{{username}}<img src="{{avatar}}"
                            style="width: 30px; height: 30px;" class="rounded-circle"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                </ul>
            </div>
        </nav>

        <main id="content-wrapper" class="bg-white">
            {{{body}}}
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.63/Tone.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/nexusui@2.0.10/dist/NexusUI.min.js"></script>
    <script src="{{script}}"></script>
    <script>
        let activeLink = window.location.pathname;
        $('.navList>li>a').each(function(){
            $(this).toggleClass('active',$(this).attr('href')==activeLink);
        });
    </script>
</body>

</html>