<div class="container-fluid mainContainer bg-dark">
    <div class="row  mb-5">
        <div id="avatarCol" class="col-lg-4 col-sm-12 col-md-12">
            <div class="row mt-5 d-flex align-items-center justify-content-center">
                <img src="{{avatar}}" class="rounded-circle w-25 h-25">
            </div>
            <div class="row  ">
                <form class="ml-auto mt-5 mr-auto w-75" action="/profile/update/avatar" enctype="multipart/form-data"
                    method="POST">
                    <div class="textbox w-100">
                        <label id="uploadlabel">Update Profile Avatar</label>
                        <i class="fas fa-user-tie text-white"></i>
                        <input type="file" placeholder="Upload Profile Avatar" name="image" />
                        <button type="submit" class="sub-btn btn btn-success mt-2">upload</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12 col-md-12">
            <div class="container bg-dark box1">
                <div class="row d-flex">
                    <h1>Welcome, {{data.firstname}} {{data.lastname}}</h1>
                    <button id="editProfile" onclick="edit(event)"
                        class="btn btn-sm btn-outline-warning px-3 py-1 ml-auto mt-4 h-25">Edit</button>
                </div>
            </div>
            <div class="row bg-dark" id="formSections">
                <div class="col bg-dark">
                    <div class="box2 bg-dark">
                        <form>
                            <div class="textbox">
                                <label>First Name</label>
                                <i class="fas fa-user"></i>
                                <input id="firstname" type="text" placeholder="firstname" name="firstname"
                                    value="{{data.firstname}}" disabled />
                            </div>
                            <div class="textbox">
                                <label>Last Name</label>
                                <i class="far fa-address-card"></i>
                                <input id="lastname" type="text" placeholder="lastname" name="lastname"
                                    value="{{data.lastname}}" disabled />
                            </div>
                            <div class="textbox mt-3">
                                <label>Gender</label>
                                <i class="fas fa-venus-mars"></i>
                                <select id="gender" class="form-control-sm" name="gender" disabled>
                                    {{#if female}}
                                        <option value={{data.gender}} selected>Female</option>
                                    {{else}}
                                        <option value={{data.gender}} selected>Male</option>                                    
                                    {{/if}}
                                </select>
                            </div>
                            <div class="textbox mt-3">
                                <label>Email</label>
                                <i class="fas fa-envelope-open-text"></i>
                                <input id="email" type="email" placeholder="Email" value="{{data.email}}" name="email"
                                    disabled />
                            </div>
                            <div id="saveButton" class="d-flex"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
        <div class="container-fluid bg-dark text-white fixed-bottom ">
            <div class="row">
                <p class="text-center mx-auto">Copyright <span style="font-size:24px">&copy</span> by Musify | All rights reserved</p>
            </div>
        </div>
</footer>